# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# Local vector DB
db/

# Python packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log
